body {
    box-sizing: border-box !important;
    // background-color: rgba(black, 0.5) !important;
    padding-bottom: 50px;
}

.grid-table{}

.grid-box{
    min-width: 20px;
    min-height: 20px;
    height:20px;

    border: 1px solid grey;
}

.grid-box-fill {
    background-color: black;
}
.grid-box-empty {
    background-color: white;
}

.tile-type-ForestTile{
    background-color: green;
}

.tile-type-LakeTile{
    background-color: blue;
}

.tile-type-FieldTile{
    background-color: orange;
}

.tile-type-CityTile{
    background-color: brown;
}

.tile-type-ProductionTile{
    background-color: grey;
}

.tile-type-ManufacturingTile{
    background-color: white;
}

.tile-resource{
    min-width: 10px;
    min-height: 10px;
    height:10px;
    width:10px;

    margin: auto;
}

.tile-resource-Fish{
    background-color: blue;
}

.tile-resource-Gold{
    background-color: yellow;
}

.tile-resource-Stone{
    background-color: black;
}

.tile-resource-Iron{
    background-color: lightgray;
}

.hand {
    width: 100%;
    margin: 0 auto;
    max-width: 500px;
    display: flex;
    justify-content:space-around;
    .card{
        .card-value{
            text-align: center;
        }
    }
}